# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
import json

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../python-api-challenge/output_data/weather_df.csv")
weather_data.head()

,City,Longitude,Latitude,Temp. (max),Humidity,Cloudiness,Wind Speed,Dates
0,Esperance,121.9000,-33.8667,58.84,70.0,75.0,37.38,1.627355e+09
1,Touros,-35.4608,-5.1989,72.50,89.0,5.0,8.70,1.627355e+09
2,New Norfolk,147.0587,-42.7826,60.93,60.0,58.0,5.01,1.627355e+09
3,Mataura,168.8643,-46.1927,52.48,70.0,13.0,4.74,1.627355e+09
4,Curaçá,-39.9094,-8.9903,73.71,65.0,89.0,15.12,1.627355e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#config gmaps
gmaps.configure(api_key=g_key)

In [7]:
# store latitude and logitude in locations
locations = weather_data[["Latitude", "Longitude"]].astype(float)

weather_data = weather_data.dropna()

# store humidity in humidity
humidity = weather_data["Humidity"].astype(float)

In [8]:
# create a heatmap layer
fig = gmaps.figure()
max_intensity = np.max(humidity)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# Narrow down the cities to fit weather conditions.
# max temperature lower than 80 degrees but higher than 70
# wind speed less than 10 mph
# Zero cloudiness
# Drop any rows that don't contain all three conditions
select_cities_df = weather_data.loc[(weather_data["Temp. (max)"]<80) &
                                    (weather_data["Temp. (max)"]>70) &
                                    (weather_data["Wind Speed"]<10) &
                                    (weather_data["Cloudiness"]==0)].dropna()
select_cities_df.head()

,City,Longitude,Latitude,Temp. (max),Humidity,Cloudiness,Wind Speed,Dates
25,Kiryat Gat,34.7642,31.6100,77.40,86.0,0.0,3.78,1.627355e+09
117,Netivot,34.5886,31.4222,74.89,85.0,0.0,4.61,1.627355e+09
258,Tafresh,50.0130,34.6920,73.26,32.0,0.0,6.08,1.627355e+09
331,Watrous,-105.4679,51.6668,71.64,38.0,0.0,4.83,1.627355e+09
354,Talā,30.9429,30.6803,71.31,78.0,0.0,4.18,1.627355e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# create hotel_df
hotel_df = select_cities_df.loc[:,["City", "Latitude", "Longitude"]]

# add hotel name to df
hotel_df["Hotel Name"]=""

hotel_df.head()

           City  Latitude  Longitude Hotel Name
25   Kiryat Gat   31.6100    34.7642
117     Netivot   31.4222    34.5886
258     Tafresh   34.6920    50.0130
331     Watrous   51.6668  -105.4679
354        Talā   30.6803    30.9429

In [11]:
#Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [12]:
# loop

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
        
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 5 sec to make another api request to avoid SSL Error
    time.sleep(5)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 25: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
------------
Retrieving Results for Index 117: Netivot.
Missing field/result... skipping.
------------
Retrieving Results for Index 258: Tafresh.
Closest hotel in Tafresh is Pardisan Hotel.
------------
Retrieving Results for Index 331: Watrous.
Closest hotel in Watrous is Super 8 by Wyndham Watrous.
------------
Retrieving Results for Index 354: Talā.
Missing field/result... skipping.
------------
Retrieving Results for Index 391: Jalu.
Closest hotel in Jalu is إستراحة صلاح الصادق.
------------
Retrieving Results for Index 429: Khojaly District.
Missing field/result... skipping.
------------
Retrieving Results for Index 447: Ismailia.
Closest hotel in Ismailia is Tolip Alforsan Island Hotel And Spa.
------------
Retrieving Results for Index 465: Mozarlândia.
Closest hotel in Mozarlândia is Hotel Santa Mônica.
------------
-------End of Search-------

In [14]:
# Display the hotel dataframe
hotel_df.head()

           City  Latitude  Longitude                  Hotel Name
25   Kiryat Gat   31.6100    34.7642                  Desert Gat
117     Netivot   31.4222    34.5886
258     Tafresh   34.6920    50.0130              Pardisan Hotel
331     Watrous   51.6668  -105.4679  Super 8 by Wyndham Watrous
354        Talā   30.6803    30.9429

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [20]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Display figure
fig.add_layer(markers)

In [21]:
fig

Figure(layout=FigureLayout(height='420px'))